@mixin fontKrDefault {
  font-family: 'Pretendard';
  font-display: swap;
}

@font-face {
  @include fontKrDefault;
  font-weight: 900;
  src: url('/fonts/Pretendard-Black.subset.woff2') format('woff2'),
  url('/fonts/Pretendard-Black.subset.woff') format('woff'),
  url('/fonts/Pretendard-Black.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 800;
  src: url('/fonts/Pretendard-ExtraBold.subset.woff2') format('woff2'),
  url('/fonts/Pretendard-ExtraBold.subset.woff') format('woff'),
  url('/fonts/Pretendard-ExtraBold.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 700;
  src: url('/fonts/Pretendard-Bold.subset.woff2') format('woff2'),
  url('/fonts/Pretendard-Bold.subset.woff') format('woff'),
  url('/fonts/Pretendard-Bold.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 600;
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
  url('/fonts/Pretendard-SemiBold.woff') format('woff'),
  url('/fonts/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 500;
  src: url('/fonts/Pretendard-Medium.subset.woff2') format('woff2'),
  url('/fonts/Pretendard-Medium.subset.woff') format('woff'),
  url('/fonts/Pretendard-Medium.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 400;
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2'),
  url('/fonts/Pretendard-Regular.woff') format('woff'),
  url('/fonts/Pretendard-Regular.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 300;
  src: url('/fonts/Pretendard-Light.subset.woff2') format('woff2'),
  url('/fonts/Pretendard-Light.subset.woff') format('woff'),
  url('/fonts/Pretendard-Light.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 200;
  src: url('/fonts/Pretendard-ExtraLight.subset.woff2') format('woff2'),
  url('/fonts/Pretendard-ExtraLight.subset.woff') format('woff'),
  url('/fonts/Pretendard-ExtraLight.otf') format('opentype');
}

@font-face {
  @include fontKrDefault;
  font-weight: 100;
  src: url('/fonts/Pretendard-Thin.subset.woff2') format('woff2'),
  url('/fonts/Pretendard-Thin.subset.woff') format('woff'),
  url('/fonts/Pretendard-Thin.otf') format('opentype');
}

* {
  font-family: 'Pretendard';
}
